body{
margin:0px;
padding:0px;
}

.logo{
background-image: url(../IMG/CTL.png);
height: 100px;
background-size: 108;
background-repeat: no-repeat;
/* margin-left: 41%; */
width: 100px;
float: left;
}

.heading{
padding-top: 15px;
font-size: 30px;
text-align: -webkit-center;
font-family: 'Bitter', serif;
}

.opsel{
height: 200;
border-style: groove;
margin-top: 60;
}

.newe{
background-image: url(../IMG/newexam.png);
height: 200;
background-size: 190;
background-repeat: no-repeat;
margin-left: 25%;
}