body{
margin: 0px;
}

#logo{
background-image: url("../IMG/ctl.png");
height: 135;
background-size: 135;
background-repeat: no-repeat;
width: 135;
float: left;
margin-left: 20;
margin-top:10;
}

#head{
/* text-align: -webkit-center; */
font-size: -webkit-xxx-large;
padding-top: 40;
font-family: 'Slabo 27px', serif;
padding-left: 530px;
}

#wbar{
height: 37px;
/* border-style: groove; */
margin-top: 70px;
background-color: white;
}

#usn{
float: left;
font-size: 20px;
padding-top: 6;
margin-left: 20;
font-family: 'Slabo 27px', serif;
}

#dt{
float: right;
font-size: 20px;
padding-top: 6;
margin-right: 20;
font-family: 'Slabo 27px', serif;
}

#select{
text-align: -webkit-center; 
font-size: 40px;
padding-top: 25;
/*padding-left: 550px;*/
}

#selector{
height: 250;
margin-top: 50;
}

.circle{
height: 200px;
/* border-style: solid; */
border-radius: 100;
width: 200px;
margin-top: 15;
margin-left: 105px;
background-size: 200;
display: block;
float: left;
box-shadow:none;
transition: box-shadow 0.5s;
}

#NE{
background-image: url('../IMG/ne.png');

}

.circle:hover{
box-shadow: 0 0 40px #3c4966;
}

#MS{
background-image: url('../IMG/ms.png');
}

#rex{
background-image: url('../IMG/rex.png');
}

#cp{
background-image: url('../IMG/cp.png');
}