body{
margin: 0px;
}

#logo{
background-image: url("../IMG/ctl.png");
height: 100;
background-size: cover;
background-repeat: no-repeat;
width: 100;
float: left;
margin-left: 20;
margin-top: 10;

}

#head{
/* text-align: -webkit-center; */
font-size: -webkit-xxx-large;
padding-top: 30px;
font-family: 'Slabo 27px', serif;
padding-left: 530px;
}

#wbar{
  height: 37px;
  /* border-style: groove; */
  margin-top: 35;
  background-color: white;
}

#usn{
float: left;
font-size: 20px;
padding-top: 6;
margin-left: 20;
font-family: 'Slabo 27px', serif;
}

#dt{
float: right;
font-size: 20px;
padding-top: 6;
margin-right: 20;
font-family: 'Slabo 27px', serif;
}

#nav {
  width: 20%;
  float: left;
  padding-top: 5%;
  /* text-align: -webkit-center; */
  background-color: lightseagreen;
  padding-right: 1;
  height: 100%;
}

#nav a{
 display: block;
  /* padding-top: 20px; */
  /*height: 45;*/
  background-color: rgb(3, 99, 102);
  transition: color 0.5s,background-color 1s;
  /* text-align: -webkit-center; */
  font-size: 130%;
  padding-left: 10px;
  text-decoration: initial;
  color: white;
  /* vertical-align: middle; */
  line-height: 1.7;

}


#nav a:hover{
  background-color: white;
  color: black;
}



#section {
width: 70%;
  float: left;
  padding-left: 5%;
  padding-top: 30px;
}

#section legend{
display: block;
  width: 200px;
  background-color: lightseagreen;
  text-align: -webkit-center;
  border-radius: 2px;
  font-size: 25;
  
}

#section span{
font-size: 20;
  line-height: 1.5;
  display: block;
  width: 32.5%;
  float: left;
  font-family: 'Slabo 27px', serif;
}

#section input{
font-size: 18;
  text-indent: 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  /* width: 300px; */
  float: left;
  margin-right: 12%;
  font-family: 'Slabo 27px', serif;
}

#section fieldset{
margin-bottom:50px;
border-radius:10px;
}