.head{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

body{
    margin: 0px;
}

.top-buffer{ 
    padding: 10px;
}

.top-buffer2{ 
    margin-top: -20px;
}

.wbar{
    padding: 10px;
    background-color: #8B97D5;
    margin-top: -20px;
}

.mynavbar{
 height: 40;
  background-color: rgb(51, 124, 161);
  color: aliceblue;
  text-decoration: none;
  transition: background-color 1s, color 1s;
  border-radius: 5px;
}

.mynavbar:hover {
    background-color:wheat;
    color: black;
}

.mynavbar h4{
	padding-top: 10px;
	text-decoration: none;
}

